<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>824001307713-tegtuafs67httbmnu2h9vb0h53vs5mn7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824001307713-tegtuafs67httbmnu2h9vb0h53vs5mn7</string>
	<key>API_KEY</key>
	<string>AIzaSyCAXjv3iJbxfyR-EbMDUK8ytFKdyiIGxhQ</string>
	<key>GCM_SENDER_ID</key>
	<string>824001307713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.news</string>
	<key>PROJECT_ID</key>
	<string>news-e4556</string>
	<key>STORAGE_BUCKET</key>
	<string>news-e4556.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824001307713:ios:d473d0361428089fe392c0</string>
</dict>
</plist>